#moves {
    position: absolute;
    top: 50px; /* Set the top position */
    left: 700px; /* Set the left position */
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #595353;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
                   
             